* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url(images/sunflower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#message {
  width: 100vw;
  margin: 0 auto;
}
h1,
h3 {
  color: gold;
  font-family: Ariel;
  text-align: center;
  font-size: 2.9em;
  margin-bottom: 20px;
}
h3 {
  font-style: italic;
  font-size: 2em;
}

.memory-game {
  /* max-width: 500px; */
  height: 70vh;
  min-height: 500px;
  margin: 0 auto;
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

@media only screen and (min-width: 581px) {
  .memory-game {
    max-width: 500px;
  }
}
@media only screen and (max-device-width: 580px),
  only screen and (max-width: 580px) {
  .memory-game {
    margin-bottom: 10px;
    min-width: 100%;
    min-height: 90%;
  }
}
@media only screen and (max-width: 580px) {
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.4em;
  }
}
